* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 25px;
}

form {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    padding: 7px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 1px solid #c5c5c5;
    margin: 7px 0;
    padding: 7px;
}

textarea {
    min-width: 100%;
    resize: none;
    min-height: 100px;
}

.enviar, .reset {
    padding: 8px 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: .9rem;
    cursor: pointer;
}

.enviar {
    background-color: #2da02d;
}

.reset {
    background-color: #b81d1d;
}

.enviar:hover {
    background-color: #00e700;
}

.reset:hover {
    background-color: #ff0000;
}

.enviado {
    background-color: #e700b5;
    color: #fafafa;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}